In [1]:
import pandas as pd
import numpy as np

In [2]:
my_df = pd.read_csv("dog_data.csv")
my_df

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY    152361
1          GER SHEPHERD  BLACK/BROWN             TACODA    152382
2         BELG MALINOIS     BRINDLEE                ICH    152383
3                 MIXED  BLACK/BROWN              ARROW    151044
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY    151395
5      SCOTTISH TERRIER        BLACK             BAILEY    151296
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER    150907
7         DACHSHUND MIX  WHITE/BROWN              LEROI    151018
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS    152389
9    LABRADOR RETRIEVER       YELLOW              TAFFY    152281
10         BICHON FRISE        WHITE               DUDE    152381
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE    152381
12     AM PITT BULL MIX        BROWN               KING    152351
13     AM PITT BULL MIX        WHITE              EMILY    151081
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE    152281
15                MIXED        WHITE              RUSTY    151201
16          TERRIER MIX      SPOTTED              ANNIE    152391
17       COCKER SPANIEL       BLONDE             JULIET    152141
18       COCKER SPANIEL        BLACK              ROMEO     15214

In [3]:
# Grab First 5 rows

In [4]:
my_df.head()

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY    152361
1         GER SHEPHERD  BLACK/BROWN   TACODA    152382
2        BELG MALINOIS     BRINDLEE      ICH    152383
3                MIXED  BLACK/BROWN    ARROW    151044
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY    151395

In [5]:
# Grab certain number of first rows

In [6]:
my_df.head(9)

                 Breed        Color            DogName  OwnerZip
0             COCKAPOO        BROWN            CHARLEY    152361
1         GER SHEPHERD  BLACK/BROWN             TACODA    152382
2        BELG MALINOIS     BRINDLEE                ICH    152383
3                MIXED  BLACK/BROWN              ARROW    151044
4  AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY    151395
5     SCOTTISH TERRIER        BLACK             BAILEY    151296
6    YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER    150907
7        DACHSHUND MIX  WHITE/BROWN              LEROI    151018
8    SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS    152389

In [7]:
# Grab last 5 rows

In [9]:
my_df.tail()

               Breed        Color DogName  OwnerZip
14  BRITTANY SPANIEL  WHITE/BROWN   ELLIE    152281
15             MIXED        WHITE   RUSTY    151201
16       TERRIER MIX      SPOTTED   ANNIE    152391
17    COCKER SPANIEL       BLONDE  JULIET    152141
18    COCKER SPANIEL        BLACK   ROMEO     15214

In [10]:
# Grab Certain number of last rows

In [11]:
my_df.tail(8)

               Breed        Color  DogName  OwnerZip
11    LHASA APSO MIX  WHITE/BROWN  CHICKIE    152381
12  AM PITT BULL MIX        BROWN     KING    152351
13  AM PITT BULL MIX        WHITE    EMILY    151081
14  BRITTANY SPANIEL  WHITE/BROWN    ELLIE    152281
15             MIXED        WHITE    RUSTY    151201
16       TERRIER MIX      SPOTTED    ANNIE    152391
17    COCKER SPANIEL       BLONDE   JULIET    152141
18    COCKER SPANIEL        BLACK    ROMEO     15214

In [12]:
# Get info about the dataframe

In [13]:
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Breed     19 non-null     object
 1   Color     19 non-null     object
 2   DogName   19 non-null     object
 3   OwnerZip  19 non-null     int64
dtypes: int64(1), object(3)
memory usage: 740.0+ bytes

In [14]:
# Get shape of rows and columns

In [15]:
my_df.shape

(19, 4)

In [16]:
# Get number of dimentions

In [17]:
my_df.ndim

2

In [18]:
# Get the column datatype

In [19]:
my_df.dtypes

Breed       object
Color       object
DogName     object
OwnerZip     int64
dtype: object

In [20]:
# Get some statistics about the data

In [21]:
my_df.describe()

            OwnerZip
count      19.000000
mean   144677.789474
std     31356.786610
min     15214.000000
25%    151141.000000
50%    152281.000000
75%    152381.000000
max    152391.000000

In [22]:
# Describe a spesific column

In [25]:
my_df['Breed'].describe()

count        19
unique       16
top       MIXED
freq          2
Name: Breed, dtype: object

In [26]:
# Describe a spesific column

In [28]:
my_df['Color'].describe()

count              19
unique             10
top       WHITE/BROWN
freq                5
Name: Color, dtype: object

In [29]:
# Select Spesific column using Brackets

In [30]:
my_df['DogName']

0               CHARLEY
1                TACODA
2                   ICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17               JULIET
18                ROMEO
Name: DogName, dtype: object

In [31]:
# Select Spesific column using Dot Notation

In [32]:
my_df.DogName

0               CHARLEY
1                TACODA
2                   ICH
3                 ARROW
4                OAKLEY
5                BAILEY
6     MIMI PEARL FOSTER
7                 LEROI
8            ZOE VITSAS
9                 TAFFY
10                 DUDE
11              CHICKIE
12                 KING
13                EMILY
14                ELLIE
15                RUSTY
16                ANNIE
17               JULIET
18                ROMEO
Name: DogName, dtype: object

In [33]:
# Select Spesific column using location

In [35]:
my_df.iloc[:,1]

0           BROWN
1     BLACK/BROWN
2        BRINDLEE
3     BLACK/BROWN
4     WHITE/BROWN
5           BLACK
6       BLACK/TAN
7     WHITE/BROWN
8     WHITE/BROWN
9          YELLOW
10          WHITE
11    WHITE/BROWN
12          BROWN
13          WHITE
14    WHITE/BROWN
15          WHITE
16        SPOTTED
17         BLONDE
18          BLACK
Name: Color, dtype: object